.realtors {
    background-color: $color-secondary;
    grid-column: col-start 7 / full-end;
    padding: 3rem;

    // Put the grid contents in the center vertically and horizontally
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    grid-row-gap: 2rem;

    // Let the realtors take 100% width of the page when <800px
    @media only screen and (max-width: $bp-medium) {
        grid-column: 1 / -1;
    }

    &__list {
        display: grid;
        grid-template-columns: min-content max-content;
        grid-column-gap: 2rem;
        grid-row-gap: 5vh;
        align-items: center;

        // moving the realtors side by side
        @media only screen and (max-width: $bp-medium) {
            grid-template-columns: repeat(3, min-content max-content);
        }
    }

    &__img {
        width: 7rem;
        border-radius: 50%;
        display: block;
    }

    &__sold {
        text-transform: uppercase;
        color: $color-grey-light-2;
        margin-top: -3px;
    }
}